* {
    font-family: 'Kanit', sans-serif;
}

.navbar {
    padding: 0px 0px 0px 24px;
    background: #FFFFFF;
    color: #787878;
    display: flex;
    margin-top: 15px;
    height: 72px;
    align-items: center;
    
}
main {
    justify-content: center;
    align-items: center; 
    place-content: center;
    display: flex;
    margin: 50px auto;
    background: #f4f4f4;

}

.container {
    justify-content: center;
    /* justify-items: center; */
    align-items: center; 
    display: flex;
    
    
}

.box-body {
    height: 800px;
    width: 480px;
    box-sizing: border-box;
    background: #FFFFFF;
    
}
.reg, .log {
    font-family: 'Kanit', sans-serif;
    display: inline-block;
    flex-direction: row; 
    justify-items: center;
    padding: 5px 15px 5px;
    border: 1px solid #e21c23;
    border-radius: 20px;
    font-size: 14px;
    color: #e21c23;
    margin-right: 20px;
    height: 48px;
    width: 140px;
    text-align: center;
    line-height: 46px;
    position: ;
}

.inter{
    display: flex;
    /* justify-items: center;
    align-self:flex-end;*/
    
    justify-content: center;
    align-items: center;

    
}
#login {
    color: #FFFFFF;
    background: #e21c23;
}

footer{
    display:inline-flex;
    align-content: end;
    /* position: absolute; */
    bottom: 0;
    /* box-sizing: border-box; */
    width: 100%;
    height: 20%;
    background: #e21c23;
    /* flex-direction: row-reverse; */
    align-items: center;
    margin-bottom: 0;
    flex-shrink: 0;
    
    
}
.primary {
    background: #e21c23;
    /* bottom: 0; */
    padding: 24px;
    /* margin-bottom: 0; */
    /* display: inline-flex; */
    /* width: 100%; */
    height: 10%;
    display:inline-block;
    gap: 20px;
    width: 1887px;
    /* align-content: end;
    justify-content:end */
    /* margin-right: 0px; */
}
.secondary {
    bottom: 0;
    height: 10%;
    background: #cb191f !important;
    height: 5%;
}
.swensens-logo1 {
    /* padding-top: 30px; */
    /* gap: 14px; */
    display: inline-flex;
    width: fit-content;
    height: 5%;
    margin-right: 20%;
    padding-right: 0%;
    /* box-sizing: content-box; */
}

a {
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    /* display: flex; */
    flex-direction: row;
    /* justify-content: center; */
    /* align-content: end; */
    /* box-sizing: border-box; */
    /* width: 0; */
    /* margin-right: 20%; */
    /* padding: 0px 0px 0px 241.234px; */
    padding: 5px 15px 5px;
    margin-right: 0;
    gap: 10px;
    text-align: right;
    /* width: 50%; */
    width: fit-content;
    text-align: end;
    gap: 10px;
}

.footdata {
    /* justify-content: center; */
    /* align-content: end; */
    text-align: end; 
    justify-content:end;
    align-content:end;
    display:inline-flex
    /* right: 0%;
    left: 0%; */
}

.footlogo {
    /* display:inline; */
    max-width: fit-content;
    display: flex;
}

.card{
    height: 240px;
    width: 480px;
}

.container {
    height: 1117px;
    width: 1200px;
    max-width: 1200px;
}

.logo {
    display: flex;
    justify-items: center;
    align-items: center;
}

.input-box {
    display: flex;
    border: 0;
    min-width: 480px;
    max-height: 1000px;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.name {
    width: 91.75px;
    height: 208px;
}

.fullname {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

label {
    position: relative;
}

.ln,.ls {
    display: flex;
    width: fit-content;
    
}

#fp {
    margin-right: 20px;
}
#sp {
    margin-left: 10px;
}

.tel, .email{
    display: flex;
    position: relative;
    height: 80px;
    /* flex-wrap: wrap; */
    width: 100%;
    flex-direction: column;
    justify-content: center;
    
}

.phone, .eml {
    width: fit-content;
    display: flex;
    height: min-content;
    margin-left: 10%;
}

#it {
    height: min-content;
    display: flex;
    margin-left: 10%;
    margin-right: 13%;
}

#fp, #sp, #it, #em{
    border-radius: 5px;
    height: 40px;
    margin-left: 20px;
    margin-right: 5px;
}
label {
    margin: 5px;
}

.email {
    padding-top: 5px;
}
